---
title: Make a Difference
layout: none
permalink: /makeadiff/
---
{% include global/header.html %}

<style>
    .page-content{
        display:flex;
        flex-direction: column;
        padding-top:0;
    }
  .makediffs{
    display:flex;
    gap:2rem;
    justify-content: center;
    flex-grow: 1;
  }

  .makediff{
    width: 400px;
    display:flex;
    flex-direction: column;
    text-align: center;
    height:fit-content;
    max-height: 800px;
    height: auto;
    cursor: pointer;
    background-color: var(--color-accent-green);
    color:white;
    background-position: center;
    background-size: cover;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: normal;
  }
  .makediff:hover{
    text-decoration: none;
    color:white;
    transform: translateY(-10px);
     border-color: rgb(0, 115, 25);
    box-shadow: 0 0 0 4px rgb(0 115 25 / 10%);
  }
  .makediff:visited{
    color:white;
  }
 
  .makediff h2{
    color:white;
  }
  .makediff .text{
      padding:0 1rem;
      flex-grow: 1;
      background-color: rgba(44, 19, 0, 0.708);
    }
    .makediff .space{
    height:60%;
    min-height: 100px;
  }
  @media screen and (max-width:800px) {
    .makediffs{
        gap:1rem;
        font-size: 12px;
    }
    .makediff .space{
        height:50%;
    }
  }
  @media screen and (max-width:500px) {
    .makediffs{
        gap:0.3rem;

    }
    .makediff .space{
        height: 40%;
    }
    .makediff .text{
        padding:0 0.5rem;
        font-size:10px;
    }
    .makediff h2{
        font-size: 1.5rem;
    }
    .makediff p{
        line-height: 1rem;
    }
  }
    
</style>

<main class="page-content page-content-full-width">
    <h1 style="text-align:center;margin-bottom: 2rem;">Make a Difference</h1>
    <div class="makediffs">
        
        <a class="makediff" href="/forindividuals" style="background-image: url(https://live.staticflickr.com/4664/39763205972_b3e41020ec_c.jpg);">
            <div class="space"></div>
            <div class="text">
                <h2>As an Individual</h2>
                <p>Join a community of people who are on a mission to help Singaporeans discover their natural heritage.</p>
            </div>
        </a>
        <a class="makediff" href="/forteachers">
            <div class="space"></div>
            <div class="text">
                <h2>For Teachers</h2>
                <p>You can always include local biodiversity within your classroom, and many others have done it before you!</p>
            </div>
        </a>
        <a class="makediff" href="/forguides">
            <div class="space"></div>
            <div class="text">
                <h2>For Guides</h2>
                <p>Being a nature educator is hard. Visitors can be unpredictable. Here's some tips to help you out!</p>
            </div>
        </a>
    </div>

</main>


{% include global/footer.html %}


