<style>
 .entries-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    gap:1rem;
    
}

.entry{
    height:240px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.entry .img-container{
    width:100%;
    height: 70%;
    margin:0;
    overflow: hidden;
}
.entry .img-container img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.scientific-name{
    font-size: 0.6rem;
}
.entry-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  
}

.zone{
  height:10px;
  aspect-ratio: 1;
  background-color: lightgray;
}
.zone-markers{
  display:flex;
  gap:5px;
}

.terrestrial{
  background-color: rgb(142, 83, 68);
}
.intertidal{
  background-color: rgb(108, 209, 234);
}
.marine{
  background-color: rgb(57, 100, 179);
}
.freshwater{
  background-color: rgb(46, 139, 108);
}

@media (max-width:800px){
  .entries-grid{  
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
  .entry{
    height:200px;
  }
}

@media (max-width:600px){
  .entries-grid{  
    grid-template-columns: repeat(3, minmax(60px, 1fr));
  }
  .entry{
    height:180px;
  }
}

</style>
  
  <div id="entries-grid" class="entries-grid">
    
    
    
</div>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script defer>
let fuse
let data = []
let results = []

// Read URL params on page load
const params = new URLSearchParams(window.location.search)
const tree = document.getElementById('tax-filters')

let initialQuery = params.get('q') || ''

let currentPage = parseInt(params.get('page'), 10)
if (isNaN(currentPage) || currentPage < 1) {
  currentPage = 1
}


const perpage = 20

fetch('/assets/search.json')
  .then(res => res.json())
  .then(json => {
    data = json

    fuse = new Fuse(data, {
      includeScore: true,
      threshold: 0.01, // lower = stricter, higher = more fuzzy
      minMatchCharLength: 4,
      ignoreLocation: false,
    findAllMatches: false,
      keys: [
        { name: "title", weight: 3 },
        { name: "species", weight: 3 },
        { name: "genus", weight: 2 },
        { name: "family", weight: 2 },
        { name: "keywords", weight: 2 }, 
        { name: "summary", weight: 1 }, 
        { name: "subfamily", weight: 1 }, 
        { name: "infraorder", weight: 1 }, 
        { name: "suborder", weight: 1 }, 
        { name: "order", weight: 1 },
        { name: "class", weight: 1 },
        { name: "subphylum", weight: 1 },
        { name: "phylum", weight: 1 },
        { name: "kingdom", weight: 1 },
        { name: "zone", weight: 1 },

        { name: "search_text", weight: 0.5 }, // fallback for partial strings
      ]
    })

    results = json

   
    filterResults()
    renderResults()

  })


const input = document.getElementById('search-input')
const resultsDiv = document.getElementById('entries-grid')
const pageInfo = document.getElementById('page-info')
const prevBtn = document.getElementById('prev')
const nextBtn = document.getElementById('next')
let taxaFilters = new Set()
let excludeFilters = new Set()
let query = ""
let zone = "all"

input.value = initialQuery

document.addEventListener("DOMContentLoaded", () => {
    initialQuery = params.get('q') || ''
    currentPage = parseInt(params.get('page'), 10)
    if (isNaN(currentPage) || currentPage < 1) {
      currentPage = 1
    }
    query = initialQuery
    
});

input.addEventListener('keyup', () => {
  query = input.value.trim().toLowerCase()
  console.log(query)
  currentPage = 1

  updateURL()

  

  console.log(taxaFilters)
  filterResults()
  renderResults()
})


function filterResults(){
  let taxafilter = item=>true
  let excludeFilter = item=>false
  let zoneFilter = item=>true

  if(taxaFilters.size > 0){
    taxafilter = item => {
      return Array.from(taxaFilters).some(t => {
        let [name, rank] = t.split('-')
        
        if(!item[rank]){
          return false;
        }
        return item[rank].toLowerCase() === name.toLowerCase()
      })
    }
  }

  if(excludeFilters.size > 0){

    excludeFilter = item => {
      return Array.from(excludeFilters).some(t => {
        let [name, rank] = t.split('-')
        if(taxaFilters.has(t)){
          return false;
        }
        if(!item[rank]){
          return false;
        }
        
        return item[rank].toLowerCase() === name.toLowerCase()
      })
    }

  }

  if(zone != "all"){
    zoneFilter = item=>{
      if(item.zone.includes(zone)){
        console.log(item.title)
      }
      return item.zone.includes(zone)
    }
  }
  


  // Step 1: true substring search for partial matches
  let partialResults = data
  if(query){
    partialResults = data.filter(item =>
      item.search_text.includes(query)
    )
  }
  partialResults = partialResults.filter(item => taxafilter(item))
  partialResults = partialResults.filter(zoneFilter)

  // Step 2: Fuse.js ranking
  let fuseResults = fuse.search(query).map(r => r.item) 
  fuseResults = fuseResults.filter(item => taxafilter(item))
  fuseResults = fuseResults.filter(zoneFilter)
  console.log(fuseResults.length)
  // Merge results, remove duplicates
  const combined = [...new Set([...fuseResults, ...partialResults])]


  results = combined
}

prevBtn.addEventListener('click', () => {
  if (currentPage > 1) {
    currentPage--
    updateURL()
    renderResults()
  }
})

nextBtn.addEventListener('click', () => {
  const totalPages = Math.ceil(results.length / perpage)

  if (currentPage < totalPages) {
    currentPage++
    updateURL()
    renderResults()
  }
})


function renderResults() {
    console.log("rendering entries")
    const start = (currentPage - 1) * perpage
    const end = start + perpage

    const paginated = results.slice(start, end)
    if (paginated.length === 0) {
        resultsDiv.innerHTML = '<p>No results found</p>'
        return
    }

  
  resultsDiv.innerHTML = paginated.map(item => {
    let scientificname = ""
    if(item.species && item.genus){
      scientificname = `${item.genus} ${item.species}`
    }else if(item.family){
      scientificname = `Family ${item.family}`
    }else if(item.suborder){
      scientificname = `Suborder ${item.suborder}`
    }else if(item.order){
      scientificname = `Order ${item.order}`
    }else if(item.class){
      scientificname = `Class ${item.class}`
    }else{
      scientificname = `Phylum ${item.phylum}`
    }
    
    zones = ""
    item.zone.forEach(z=>{
      zones += `<div class="zone ${z}"></div>`
    })
    
    return `
    <a href="${item.url}" class="entry">
        <div class="img-container">
            <img src="${item.coverimg ?? 'https://placehold.co/600x400/png'}" alt="">
        </div>
        <div class="entry-content">
          <div>
            <h4>${item.title}</h4>
            <p class="scientific-name">${scientificname}</p>
          </div>
          <div>
            <div class="zone-markers">${zones}</div>
          </div>
        </div>
    </a>
    `
  }).join('')

  const totalPages = Math.ceil(results.length / perpage)

  pageInfo.textContent = `Page ${currentPage} of ${totalPages || 1}`

  prevBtn.disabled = currentPage === 1
  nextBtn.disabled = currentPage >= totalPages
}

function updateURL() {

  const params = new URLSearchParams()

  if (query) {
    params.set('q', query)
  }

  if (currentPage > 0) {
    params.set('page', currentPage)
  }

  params.set('zone', zone)

  const newURL =
    `${window.location.pathname}?${params.toString()}`

  history.replaceState({}, '', newURL)
}



function updateTaxaFilters(value, checked){
    if(value[0] == "!"){
      value = value.slice(1)
      let v = value.split('|')
        if(checked){
          v.forEach(e=>{
            if(e){
              excludeFilters.add(e)
            }
          })
        }else{
          v.forEach(e=>{
            if(e){
              excludeFilters.delete(e)
            }
          })
        }

    }else{
        let v = value.split('|')
        if(checked){
          v.forEach(e=>{
            if(e){
              taxaFilters.add(e)
            }
          })
        }else{
          v.forEach(e=>{
            if(e){
              taxaFilters.delete(e)
            }
          })
        }
    }

    
}


// Taxa filter checkboxes

// const checkboxes = document.querySelectorAll('.taxa-checkbox-input')
// checkboxes.forEach((checkbox) => {
//   checkbox.addEventListener('change', (event) => {
//     const value = event.target.value;
//     const checked = event.target.checked;

//     updateTaxaFilters(value, checked)
//   });
// });



const filters = document.getElementsByClassName("filters")[0]
filters.addEventListener('change', e=>{
  console.log(e.target.name , e.target.value)
  if(e.target.name == "zone"){
    zone = e.target.value
  }

  updateURL()
  filterResults()
  renderResults()
})


tree.addEventListener('change', e => {
  const checkbox = e.target

  if (!checkbox.classList.contains('taxa-checkbox-input')) {
    return
  }

  
  const checked = checkbox.checked



  // FIND CURRENT NODE
  const node = checkbox.closest('.tax-node')
  taxaFilters.clear()
  // -------------------------
  // CHECK/UNCHECK CHILDREN
  // -------------------------
  if (node) {
    const childCheckboxes = node.querySelectorAll(
      '.tax-children .taxa-checkbox-input'
    )

    for (const child of childCheckboxes) {
      child.checked = checked
      updateTaxaFilters(child.value, child.checked)
    }
  }

  // -------------------------
  // UPDATE PARENTS
  // -------------------------
  if (!checked) {
    let parentNode = node?.parentElement?.closest('.tax-node')

    while (parentNode) {
      const parentCheckbox =
        parentNode.querySelector(
          ':scope > summary .taxa-checkbox-input'
        )

      if (parentCheckbox) {
        parentCheckbox.checked = false
      }

      parentNode =
        parentNode.parentElement?.closest('.tax-node')
    }
  }

  if(checkbox.value == "others-"){
      const targetParent = checkbox.closest('.tax-children');
      
      console.log("Others checked")
      console.log(targetParent)
      if (targetParent) {
        if(checked){
          parentcheckbox = targetParent.parentElement.querySelector(':scope > .tax-title >input[type="checkbox"] ')
          console.log(`Selected others of ${parentcheckbox.value}`)
          
          for (const child of targetParent.children) {
              // This only targets the first layer
              othercheckboxes = child.querySelector(':scope > .tax-title >input[type="checkbox"]');
              updateTaxaFilters(("!"+othercheckboxes.value), true)
              updateTaxaFilters(parentcheckbox.value, true)
              
          }

        }else{
          for (const child of targetParent.children) {
              // This only targets the first layer
              othercheckboxes = child.querySelector(':scope > .tax-title >input[type="checkbox"]');
              updateTaxaFilters(("!"+othercheckboxes.value), false)
              updateTaxaFilters(parentcheckbox.value, false)
              
          }
        }
      } else {
          // It reached the very top (<html>) without finding a match
          console.log("No ancestor with that class was found.");
      }

  }




  currentPage = 1
  filterResults()
  renderResults()
})

</script>