<style>
 .entries-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    gap:1rem;
    margin-bottom:2rem;
    
}

.entry-wrapper{
  position: relative;
}
.entry-rdb{
  position:absolute;
  right:10px;
  top:10px;
  height:14px;
  width:14px;
  border-radius: 100%;
  border:2px solid white;
}
.entry{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    min-height:200px;
    
  }
  .entry .img-container{
    width:100%;
    height: 15vw;
    max-height: 180px;
    margin:0;
    overflow: hidden;
  }
  .entry .img-container img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  
  .entry:hover{
    transition: 0.1s all;
  color:white;
  text-decoration: none;
  background-color: var(--color-section-head);
  
  transform: scale(1.2);
  padding:0.5rem;
  border-radius: 8px;
  z-index: 20;
  position: absolute;
  width:100%;

  top:0;
  left:0;
  
}

.scientific-name{
    font-size: 0.6rem;
}
.entry-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  
}

.zone{
  height:5px;
  aspect-ratio: 1;
  background-color: lightgray;
}
.zone-markers{
  display:flex;
  gap:2px;
}

.terrestrial{
  background-color: rgb(142, 83, 68);
}
.intertidal{
  background-color: rgb(108, 209, 234);
}
.marine{
  background-color: rgb(57, 100, 179);
}
.freshwater{
  background-color: rgb(46, 139, 108);
}

@media (max-width:800px){
  .entries-grid{  
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width:600px){
  .entries-grid{  
    grid-template-columns: repeat(3, minmax(60px, 1fr));
  }
  .entry .img-container{
    height:30vw;
  }
}

</style>
  
  <div id="entries-grid" class="entries-grid">
    
    
    
</div>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script>
let fuse
let data = []
let results = []

// Read URL params on page load
const params = new URLSearchParams(window.location.search)
let tree = document.getElementById('tax-filters')

let initialQuery = params.get('q') || ''

let currentPage = parseInt(params.get('page'), 10)
if (isNaN(currentPage) || currentPage < 1) {
  currentPage = 1
}


const perpage = 20



const input = document.getElementById('search-input')
const resultsDiv = document.getElementById('entries-grid')
let pageInfo = Array.from(document.getElementsByClassName('page-info'))

let prevBtn = Array.from(document.getElementsByClassName('prev'))
let nextBtn = Array.from(document.getElementsByClassName('next'))
let overlay = document.getElementById("redirect-overlay")

let resultsCount = document.getElementById("results-count")
let taxaFilters = new Set()
let excludeFilters = new Set()
let query = ""
let zone = "all"
let habitat = "all"

input.value = initialQuery


const filters = document.getElementsByClassName("filters")[0]
zonehabitat = {
  "terrestrial":["mangrove","rocky shore", "sandy shore","coastal forest", "native forest", "exotic forest", "grassland", "scrubland", "urban park", "built-up"],
  "freshwater": ["freshwater swamp", "freshwater marsh"],
  "intertidal": ["mangrove", "mudflat", "rocky shore", "sandy shore", "seagrass meadow", "coral rubble"],
  "marine": ["seagrass meadow", "coral reef", "coral rubble"]
}




document.addEventListener("DOMContentLoaded", init);

async function fetchData(){
  let res = await fetch('/assets/search.json')
  let local = await res.json()

  res = await fetch('/assets/fishblogger.json')
  let fishblogger = await res.json()

  return output = [...local, ...fishblogger]
}

function init(){

  overlay = document.getElementById("redirect-overlay")
  initialQuery = params.get('q') || ''
      currentPage = parseInt(params.get('page'), 10)
      if (isNaN(currentPage) || currentPage < 1) {
        currentPage = 1
      }
      query = initialQuery
  // let initialTaxa = params.get("taxa") || ""
  // taxaFilters = new Set(initialTaxa.split("|"))
      
  fetchData().then(json => {
      data = json

      fuse = new Fuse(data, {
        includeScore: true,
        threshold: 0.03, // lower = stricter, higher = more fuzzy
        minMatchCharLength: 2,
        ignoreLocation: true,
      findAllMatches: false,
        keys: [
          { name: "title", weight: 3 },
          { name: "species", weight: 3 },
          { name: "genus", weight: 2 },
          { name: "family", weight: 2 },
          { name: "keywords", weight: 2 }, 
          { name: "summary", weight: 1 }, 
          { name: "subfamily", weight: 1 }, 
          { name: "infraorder", weight: 1 }, 
          { name: "suborder", weight: 1 }, 
          { name: "order", weight: 1 },
          { name: "class", weight: 1 },
          { name: "subphylum", weight: 1 },
          { name: "phylum", weight: 1 },
          { name: "kingdom", weight: 1 },
          { name: "zone", weight: 1 },

          { name: "search_text", weight: 0.5 }, // fallback for partial strings
        ]
      })

      results = json

      

      filterResults()
      renderResults()

    })

    pageInfo = Array.from(document.getElementsByClassName('page-info'))

    prevBtn = Array.from(document.getElementsByClassName('prev'))
    nextBtn = Array.from(document.getElementsByClassName('next'))

    prevBtn.forEach(pb=>{
    pb.addEventListener('click', () => {
      if (currentPage > 1) {
        currentPage--
        updateURL()
        renderResults()
      }
    })
  })
  nextBtn.forEach(nb=>{
    nb.addEventListener('click', () => {
      const totalPages = Math.ceil(results.length / perpage)
    
      if (currentPage < totalPages) {
        currentPage++
        updateURL()
        renderResults()
      }
    })

  })

  window.addEventListener('pageshow', (event) => {
    
  console.log("Page show")
  overlay.classList.remove('show');
  
  // If the page is loaded from the bfcache, remove the transition class
    if (event.persisted) {

    }
  });
}

input.addEventListener('keyup', () => {
  query = input.value.trim().toLowerCase()
  console.log(query)
  currentPage = 1

  updateURL()

  

  console.log(taxaFilters)
  filterResults()
  renderResults()
})


function filterResults(){
  let taxafilter = item=>true
  let excludeFilter = item=>false
  let zoneFilter = item=>true
  let habitatFilter = item=>true

  if(taxaFilters.size > 0){
    taxafilter = item => {
      return Array.from(taxaFilters).some(t => {
        let [name, rank] = t.split('-')
        
        if(!item[rank]){
          return false;
        }
        return item[rank].toLowerCase() === name.toLowerCase()
      })
    }
  }

  if(excludeFilters.size > 0){

    excludeFilter = item => {
      return Array.from(excludeFilters).some(t => {
        let [name, rank] = t.split('-')
        if(taxaFilters.has(t)){
          return false;
        }
        if(!item[rank]){
          return false;
        }
        
        return item[rank].toLowerCase() === name.toLowerCase()
      })
    }

  }

  if(zone != "all"){
    zoneFilter = item=>{
      if(!item.zone){
        return false
      }
      return item.zone.includes(zone)
    }
  }
  if(habitat != "all"){
    
    habitatFilter = item=>{
      if(!item.habitats){
        return false
      }
      return item.habitats.includes(habitat)
    }
  }
  


  // Step 1: true substring search for partial matches
  let partialResults = data
  if(query){
    partialResults = data.filter(item =>{
      if(!item.search_text){
        return false
      }
      return item.search_text.includes(query)
    })
  }
  partialResults = partialResults.filter(item => taxafilter(item))
  partialResults = partialResults.filter(zoneFilter)
  partialResults = partialResults.filter(habitatFilter)

  // Step 2: Fuse.js ranking
  let fuseResults = fuse.search(query).map(r => r.item) 
  fuseResults = fuseResults.filter(item => taxafilter(item))
  fuseResults = fuseResults.filter(zoneFilter)
  fuseResults = fuseResults.filter(habitatFilter)
  console.log(fuseResults.length)
  // Merge results, remove duplicates
  const combined = [...new Set([...fuseResults, ...partialResults])]


  results = combined
}

console.log(prevBtn)



function renderResults() {
    console.log("rendering entries")
    const start = (currentPage - 1) * perpage
    const end = start + perpage

    const paginated = results.slice(start, end)
    if (paginated.length === 0) {
        resultsDiv.innerHTML = '<p>No results found</p>'
        return
    }

  
  resultsDiv.innerHTML = paginated.map(item => {
    let scientificname = ""
    if(item.species && item.genus){
      scientificname = `${item.genus} ${item.species}`
    }else if(item.family){
      scientificname = `Family ${item.family}`
    }else if(item.suborder){
      scientificname = `Suborder ${item.suborder}`
    }else if(item.order){
      scientificname = `Order ${item.order}`
    }else if(item.class){
      scientificname = `Class ${item.class}`
    }else{
      scientificname = `Phylum ${item.phylum}`
    }
    
    zones = ""
    item.zone.forEach(z=>{
      zones += `<div class="zone ${z}"></div>`
    })
    
    return `
    <div class="entry-wrapper">
    <a href="${item.url}" class="entry" ${item.external ? "rel='nofollow' external="+item.external : ""}>
        <div class="entry-rdb ${item.rdb}">
        </div>
        <div class="img-container">
            <img src="${item.coverimg ?? 'https://placehold.co/600x400/png'}" alt="">
        </div>
        <div class="entry-content">
          <div>
            <h4>${item.title}</h4>
            <p class="scientific-name">${scientificname}</p>
          </div>
          <div>
            <div class="zone-markers">${zones}</div>
          </div>
        </div>
    </a>
    </div>
    `
  }).join('')

  const totalPages = Math.ceil(results.length / perpage)
  console.log(pageInfo)
  pageInfo.forEach(pi=>{
    console.log(pi)
    pi.textContent = `Page ${currentPage} of ${totalPages || 1}`

  })

  resultsCount.textContent = results.length + " results"

  prevBtn.forEach(pb=>{
    pb.disabled = currentPage === 1
  })
  nextBtn.forEach(nb=>{
    nb.disabled = currentPage >= totalPages
  })
}

function updateURL() {

  const params = new URLSearchParams()

  if (query) {
    params.set('q', query)
  }

  if (currentPage > 0) {
    params.set('page', currentPage)
  }

  // params.set('taxa', Array.from(taxaFilters).join("|"))

  params.set('zone', zone)
  params.set('habitat', habitat)

  const newURL =
    `${window.location.pathname}?${params.toString()}`

  history.replaceState({}, '', newURL)
}



function updateTaxaFilters(value, checked){
    if(value[0] == "!"){
      value = value.slice(1)
      let v = value.split('|')
        if(checked){
          v.forEach(e=>{
            if(e){
              excludeFilters.add(e)
            }
          })
        }else{
          v.forEach(e=>{
            if(e){
              excludeFilters.delete(e)
            }
          })
        }

    }else{
        let v = value.split('|')
        if(checked){
          v.forEach(e=>{
            if(e){
              taxaFilters.add(e)
            }
          })
        }else{
          v.forEach(e=>{
            if(e){
              taxaFilters.delete(e)
            }
          })
        }
    }

    // updateURL()
}


// Taxa filter checkboxes

// const checkboxes = document.querySelectorAll('.taxa-checkbox-input')
// checkboxes.forEach((checkbox) => {
//   checkbox.addEventListener('change', (event) => {
//     const value = event.target.value;
//     const checked = event.target.checked;

//     updateTaxaFilters(value, checked)
//   });
// });




function filtersEvent(e){
console.log(e.target.name , e.target.value)
  if(e.target.name == "zone"){
    zone = e.target.value
  }

  document.querySelectorAll(`select[name='habitat'] option`).forEach(option=>{
    option.classList.remove("hide")
  })
  
  if(zone != "all"){
    document.querySelectorAll("select[name='habitat'] option").forEach(option=>{
      if(option.value != "all"){
        option.classList.add("hide")
      }      
    })
    zonehabitat[zone].forEach(h=>{
      document.querySelectorAll(`select[name='habitat'] option[value='${h}']`).forEach(option=>{
        option.classList.remove("hide")
      })
    })
  }

  
  if(e.target.name == "habitat"){
    habitat = e.target.value
  }

  updateURL()
  filterResults()
  renderResults()
}
filters.addEventListener('change', filtersEvent)


tree.addEventListener('change', e => {
  const checkbox = e.target
  console.log("Taxa tree onchange")

  if (!checkbox.classList.contains('taxa-checkbox-input')) {
    return
  }

  
  const checked = checkbox.checked



  // FIND CURRENT NODE
  const node = checkbox.closest('.tax-node')
  taxaFilters.clear()
  // -------------------------
  // CHECK/UNCHECK CHILDREN
  // -------------------------
  if (node) {
    const childCheckboxes = node.querySelectorAll(
      '.tax-children .taxa-checkbox-input'
    )

    for (const child of childCheckboxes) {
      child.checked = checked
      updateTaxaFilters(child.value, child.checked)
    }
  }

  // -------------------------
  // UPDATE PARENTS
  // -------------------------
  if (!checked) {
    let parentNode = node?.parentElement?.closest('.tax-node')

    while (parentNode) {
      const parentCheckbox =
        parentNode.querySelector(
          ':scope > summary .taxa-checkbox-input'
        )

      if (parentCheckbox) {
        parentCheckbox.checked = false
      }

      parentNode =
        parentNode.parentElement?.closest('.tax-node')
    }
  }

  if(checkbox.value == "others-"){
      const targetParent = checkbox.closest('.tax-children');
      
      console.log("Others checked")
      console.log(targetParent)
      if (targetParent) {
        if(checked){
          parentcheckbox = targetParent.parentElement.querySelector(':scope > .tax-title >input[type="checkbox"] ')
          console.log(`Selected others of ${parentcheckbox.value}`)
          
          for (const child of targetParent.children) {
              // This only targets the first layer
              othercheckboxes = child.querySelector(':scope > .tax-title >input[type="checkbox"]');
              updateTaxaFilters(("!"+othercheckboxes.value), true)
              updateTaxaFilters(parentcheckbox.value, true)
              
          }

        }else{
          for (const child of targetParent.children) {
              // This only targets the first layer
              othercheckboxes = child.querySelector(':scope > .tax-title >input[type="checkbox"]');
              updateTaxaFilters(("!"+othercheckboxes.value), false)
              updateTaxaFilters(parentcheckbox.value, false)
              
          }
        }
      } else {
          // It reached the very top (<html>) without finding a match
          console.log("No ancestor with that class was found.");
      }

  }




  currentPage = 1
  filterResults()
  renderResults()
})









</script>