<style>

        .tax-filters{
            width:fit-content;
            overflow:hidden;
            flex-shrink:0;
        }

        .tax-children{
            margin-left:1rem;
        }

        .tax-title{
            white-space: nowrap;
        }

        @media (max-width:800px){
            .tax-filters{
                display:none;
            }
        }

</style>

<div class="tax-filters" id="tax-filters">
{% for n in site.data.rank_filters.filters %}
   {% include explore/tax-node.html node=n %}
{%endfor%}
</div>