<style>
        
input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer; /* Enhances user experience */
}

details > summary::before {
  content: "+";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left: 0;
}

details[open] > summary::before {
  content: "-";
}
        .tax-filters{
            overflow:hidden;
            flex-shrink:0;
            border-radius: 5px;
            height:fit-content;
            padding:1rem;
            box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .tax-children{
            margin-left:1rem;
        }

        .tax-title{
            white-space: nowrap;
            width:100%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            position:relative;
            padding-left:15px;
            gap:1rem;
            border-bottom:1px solid lightgrey;
            padding-bottom:0.2rem;
            padding-top:0.2rem;
            
        }

        summary.tax-title{
            cursor:pointer;
        }
        summary.tax-title:hover{
            background-color:lightgrey;
        }
        

        @media (max-width:800px){
            .tax-filters{
                display:none;
            }
            .tax-filters.show{
                display:block;
            }
        }


</style>

<div class="tax-filters" id="tax-filters">
<p><b>Taxa filters</b></p>
{% for n in site.data.rank_filters.filters %}
   {% include explore/tax-node.html node=n %}
{%endfor%}
</div>

<script defer>

window.addEventListener('load', () => {
    const toggle_btn = document.getElementById('show-filters-btn')
    const tax_filters = document.querySelectorAll('.tax-filters')[0]
    const filters = document.querySelectorAll('.filters')[0]
    let opened = false;
    toggle_btn.addEventListener('click',e=>{
        console.log(e)
        opened = !opened

        if(opened){
            tax_filters.classList.add("show")
            filters.classList.add("show")
        }else{
            tax_filters.classList.remove("show")
            filters.classList.remove("show")

        }
    })
    
});

    </script>