<style>

        .tax-filters{
            width:fit-content;
            overflow:hidden;
            flex-shrink:0;
            background-color:lightgrey;
            padding:1rem;
        }

        .tax-children{
            margin-left:1rem;
        }

        .tax-title{
            white-space: nowrap;
        }

        @media (max-width:800px){
            .tax-filters{
                display:none;
            }
            .tax-filters.show{
                display:block;
            }
        }


</style>

<div class="tax-filters" id="tax-filters">
<p><b>Taxa filters</b></p>
{% for n in site.data.rank_filters.filters %}
   {% include explore/tax-node.html node=n %}
{%endfor%}
</div>

<script defer>

window.addEventListener('load', () => {
    const toggle_btn = document.getElementById('show-filters-btn')
    const tax_filters = document.querySelectorAll('.tax-filters')[0]
    let opened = false;
    toggle_btn.addEventListener('click',e=>{
        console.log(e)
        opened = !opened

        if(opened){
            tax_filters.classList.add("show")
        }else{
            tax_filters.classList.remove("show")
        }
    })
    
});

    </script>