</div><!-- .site-wrapper -->

<footer>
    <div class="footer-columns">
        <div class="footer-logo">
            <h2>Nature.Hungry</h2>
        </div>
        
        <div class="footer-column">
            <a href="/explore">Explore</a>
            <a href="/wildfacts/concepts">Concepts</a>
            <a href="/about">About</a>
            <a href="/wildfacts/makeadiff/">Make a Difference</a>
            <a href="/links">Useful Links</a>
        </div>
        <div class="footer-column">
            <a href="/">Glossary</a>
            <a href="/">Habitats</a>
            <a href="/">Guides</a>
        </div>
        <div class="footer-column">
            <a href="/">How to contribute</a>
            <a href="/">Credits & Acknowledgments</a>
        </div>

    </div>
    <p class="copyright">© 2026 naturehungry.sg and individual contributors. Content may be shared and adapted with appropriate credit.</p>
</footer>

</body>
</html>