---
title: Explore
keywords: "index, flora, fauna, animal, plant, guide, biology, ecology, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info, photo"

---


    <style>
        #show-filters-btn{
            display:none;
            color: white;
            background-color: var(--color-accent-orange);
            border: none;
            padding:0.4rem;
        }
        .search-input{
            font-size: 1rem;
            padding:0.5rem;
            max-width:30rem;
            width:100%;
        }

        .explore-head{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:1rem;
        }
        .filters{
            margin-bottom: 1rem;
            display:flex;
            justify-content: left;
            gap:1rem;
            flex-wrap:wrap;
        }

        .filter-container{
            display:flex;
            align-items: center;
            gap:0.5rem;
            min-width:100px;
        }
        .filter-container p{
            margin:0;
        }

        .view-btn{
            padding:0.4rem;
        }
        .view-btn.active{
            background-color: rgb(234, 234, 234);

        }

        .pagination-view-group{
            display:flex;
            justify-content:space-between;
            align-items:center;
            gap:0.5rem;
            margin-bottom:0.5rem
        }
        .pagination{
            width:fit-content;
            margin-left:auto;
            display:flex;
            align-items:center;
            gap:1rem;
            margin-bottom:1rem;
        }

        .prev, .next{
            cursor: pointer;
            font-size:1.6rem;
            background-color:white;
            border:1px solid lightgrey;
            padding:0.5rem;
        }
        .explore-grid-tax-filters{
            display:flex;
            gap:1rem;
        }
        @media (max-width:800px){
            #show-filters-btn{
                display:block;
            }
        }
        @media (max-width:500px){
            .explore-head{
                display:block;
            }
            .explore-grid-tax-filters{
                flex-direction:column;
            }
            #tax-filters{
                width:100%;
            }
            .filters{
                display:none;
            }
            .filters.show{
                display:flex;
            }
        }
        @media (max-width:400px){
            .pagination-view-group{
                flex-direction:column;
                align-items:start;
            }
            
        }
       
    </style>

{% include global/header.html %}
    <main class="page-content" id="main-content">
        <div class="explore-head">
            <h1>Explore</h1>
            <div style="font-size:1.0rem;">
                <p style="margin:0"><b>Don't know the name of what you saw?</b></p>
                <a href="/stepbystep" >Use the Photo Index!</a>
            </div>
        </div>
<div class="flex gap-1 align-center justify-between" style="margin-bottom:1rem;">
                    <input type="text" id="search-input" class="search-input" placeholder="Search by anything">
                    
                    <button id="show-filters-btn"> <i class="fa-solid fa-sliders"></i></button>
                </div>
                <div class="filters">
                    <div class="filter-container">
                        <p>Zone</p>
                        <select name="zone" id="">
                            <option value="all">All</option>
                            <option value="terrestrial">Terrestrial</option>
                            <option value="freshwater">Freshwater</option>
                            <option value="intertidal">Intertidal</option>
                            <option value="marine">Marine</option>
                        </select>
                    </div>
                    <div class="filter-container">
                        <p>Habitat</p>
                        <select name="habitat" id="">
                            <option value="all">All</option>
                            <option value="mangrove">mangrove</option>
                            <option value="mudflat">mudflat</option>
                            <option value="coastal forest">coastal forest</option>
                            <option value="rocky shore">rocky shore</option>
                            <option value="sandy shore">sandy shore</option>
                            <option value="seagrass meadow">seagrass meadow</option>
                            <option value="coral rubble">coral rubble</option>
                            <option value="coral reef">coral reef</option>
                            <option value="native forest">native forest</option>
                            <option value="exotic forest">exotic forest</option>
                            <option value="grassland">grassland</option>
                            <option value="scrubland">scrubland</option>
                            <option value="urban park">urban park</option>
                            <option value="built-up">built-up</option>
                            <option value="freshwater swamp">freshwater swamp</option>
                            <option value="freshwater marsh">freshwater marsh</option>
                            
                        </select>
                    </div>
                   
                </div>
            <div class="explore-grid-tax-filters">
            {% include explore/tax-filters.html %}
            <div style="
                width: 100%;
            ">
                



                <div class="pagination-view-group">
                    <div id="results-count">
                    </div>
                    {%- comment -%} <div style="
                        display: flex;
                        gap:1rem;
                    ">
                        <p class="view-btn">Map view</p>
                        <p class="view-btn active">Grid view</p>
                    </div> {%- endcomment -%}

                    <div class="pagination">
                        <button class="prev"><i class="fa-solid fa-caret-left"></i></button>
                        <span class="page-info"></span>
                        <button class="next"><i class="fa-solid fa-caret-right"></i></button>
                    </div>
                </div>

              {% include explore/explore-grid.html %}
              <div class="pagination-view-group">
                    

                    <div class="pagination">
                        <button class="prev"><i class="fa-solid fa-caret-left"></i></button>
                        <span class="page-info"></span>
                        <button class="next"><i class="fa-solid fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% include global/footer.html %}