---
title: Explore
keywords: "index, flora, fauna, animal, plant, guide, biology, ecology, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info, photo"

---


    <style>
        #show-filters-btn{
            display:none;
            color: white;
            background-color: var(--color-accent-orange);
            border: none;
            padding:0.4rem;
        }
        .search-input{
            font-size: 1rem;
            padding:0.5rem;
            max-width:30rem;
            width:100%;
        }

        .explore-head{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:1rem;
        }
        .filters{
            margin-bottom: 1rem;
            display:flex;
            justify-content: left;
            gap:2rem;
        }

        .filter-container{
            display:flex;
            align-items: center;
            gap:0.5rem;
        }
        .filter-container p{
            margin:0;
        }

        .view-btn{
            padding:0.4rem;
        }
        .view-btn.active{
            background-color: rgb(234, 234, 234);

        }

        .pagination-view-group{
            display:flex;
            justify-content:space-between;
            align-items:center;
            gap:0.5rem;
            margin-bottom:0.5rem
        }
        #pagination{
            width:fit-content;
            margin-left:auto;
        }
        .explore-grid-tax-filters{
            display:flex;
            gap:2rem;
        }
        @media (max-width:800px){
            #show-filters-btn{
                display:block;
            }
        }
        @media (max-width:500px){
            .explore-head{
                display:block;
            }
            .explore-grid-tax-filters{
                flex-direction:column;
            }
            #tax-filters{
                width:100%;
            }
        }
        @media (max-width:400px){
            .pagination-view-group{
                flex-direction:column;
                align-items:start;
            }
            
        }
       
    </style>

{% include global/header.html %}
    <main class="page-content" id="main-content">
        <div class="explore-head">
            <h1>Explore</h1>
            <div style="font-size:1.0rem;">
                <p style="margin:0"><b>Don't know the name of what you saw?</b></p>
                <a href="/stepbystep" >Use the Photo Index!</a>
            </div>
        </div>
<div class="flex gap-1 align-center justify-between" style="margin-bottom:1rem;">
                    <input type="text" id="search-input" class="search-input" placeholder="Search by anything">
                    
                    <button id="show-filters-btn"> <i class="fa-solid fa-sliders"></i></button>
                </div>
                <div class="filters">
                    <div class="filter-container">
                        <p>Zone</p>
                        <select name="" id="">
                            <option value="">All</option>
                            <option value="">Terrestrial</option>
                            <option value="">Freshwater</option>
                            <option value="">Intertidal</option>
                            <option value="">Marine</option>
                        </select>
                    </div>
                   
                </div>
            <div class="explore-grid-tax-filters">
            {% include explore/tax-filters.html %}
            <div style="
                width: 100%;
            ">
                



                <div class="pagination-view-group">
                    <div style="
                        display: flex;
                        gap:1rem;
                    ">
                        <p class="view-btn">Map view</p>
                        <p class="view-btn active">Grid view</p>
                    </div>

                    <div id="pagination">
                        <button id="prev">Prev</button>
                        <span id="page-info"></span>
                        <button id="next">Next</button>
                    </div>
                </div>

              {% include explore/explore-grid.html %}
            </div>
        </div>
    </main>
{% include global/footer.html %}