---
title: "Wild Fact Sheets of marine life on Singapore shores"
description: "Fact sheet with photos on flora and fauna of Singapore's intertidal shores"
keywords: "index, flora, fauna, animal, plant, guide, biology, ecology, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info, photo"
layout: default
---
<style>
#sect-1{
            padding:0 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:2rem;
        }
        .text-container{
            margin-top:2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:4rem;
            height: 60%;
            width: 100%;
        }
        .flex{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:2rem;
            width: 100%;
        }
        .icon-container{
            height:50px;
            aspect-ratio: 1;
            
        }
        .icon-container svg{
            height: 100%;
            width: 100%;
            color:rgb(2, 120, 0);
        }
        .hero-btn{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:1rem;
            width: 200px;
            padding:20px 0;
            border: 1px solid rgb(2, 120, 0);
            border-radius: 10px;
            color: black;
            text-decoration: none;
        }

        .random-container{
            height: 30%;
            width: 100%;
            background-color: black;
            margin-bottom: 6rem;
            display:flex;
        }
        .random{
            width: 25%;
            position: relative;
        }
        .random img{
            height:100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        .random .caption{
            position: absolute;
            bottom:0;
            right:0;
            background-color: black;
            padding:0.5rem;
            color:white;
            font-size: 12px;
            margin:0;
        }

</style>


<section id="sect-1">
    <div class="text-container">
        <h1><span style="color:rgb(0, 115, 25)">Nature. </span><span style="color:rgb(227, 102, 0)">Hungry</span></h1>

        <div class="flex">
            <a class="hero-btn" href="/explore">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round">
                    <circle cx="11" cy="11" r="7"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <p>Explore</p>
            </a>
            <a class="hero-btn" href="/wildfacts/concepts">
                <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round">
                    <!-- Bulb -->
                    <path d="M9 18h6"></path>
                    <path d="M10 22h4"></path>
                    <path d="M12 2a7 7 0 0 0-4 12c.5.5 1 1.5 1 2h6c0-.5.5-1.5 1-2a7 7 0 0 0-4-12z"></path>
                </svg>
                </div>
                <p>Concepts</p>
            </a>
            <a class="hero-btn" href="">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round">

                    <!-- Book cover -->
                    <path d="M4 3h12a3 3 0 0 1 3 3v15a2 2 0 0 0-2-2H4z"></path>

                    <!-- Spine -->
                    <path d="M4 3v18"></path>

                    <!-- Page lines -->
                    <line x1="8" y1="8" x2="16" y2="8"></line>
                    <line x1="8" y1="12" x2="16" y2="12"></line>
                    <line x1="8" y1="16" x2="13" y2="16"></line>

                    </svg>
                </div>
                <p>Guides</p>
            </a>
            <a class="hero-btn" href="">
                <div class="icon-container">
                    <svg fill="currentColor"  viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:none;}</style></defs><title>sprout</title><path d="M25,2A11.01,11.01,0,0,0,14.7549,9.0244,6.9939,6.9939,0,0,0,9,6H6V9a7.0078,7.0078,0,0,0,7,7h1v9.0493a9.9229,9.9229,0,0,0-6.071,2.8794l1.414,1.4141a8,8,0,0,1,12.3086,1.2134l1.6616-1.1128A9.98,9.98,0,0,0,16,25.062V16h1A11.0125,11.0125,0,0,0,28,5V2ZM13,14A5.0057,5.0057,0,0,1,8,9V8H9a5.0054,5.0054,0,0,1,5,5v1ZM26,5a9.01,9.01,0,0,1-9,9H16V13a9.01,9.01,0,0,1,9-9h1Z"></path><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"></rect></g></svg>
                </div>
                <p>Make a Difference</p>
            </a>
            

        </div>
    </div>

    {% assign random_posts = site.entries | sample: 4 %}

    <div class="random-container">
        {% for post in random_posts %}
            <div class="random">
                {% if post.coverimg %}
                    <img src={{post.coverimg}} alt="">
                {%else%}
                    <img src="https://placehold.co/600x400/png" alt="">
                {%endif%}
                <p class="caption">{{post.title}}</p>

            </div>
        
        {% endfor %}
       
        
    </div>
</section>