---
title: Hard corals
child_pages:
- label: "polyps \n            with <br/>\n<a href=\"/photoindexes/cnidaria/coralhard/tentacled\"> long tentacles</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/euphylliidae/ancora/060714rlhg0655mb.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/poritidae/gonbig/051204sisg3282ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/euphylliidae/glabrescens/051203smkg3161mc.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/euphylliidae/paradivisa/050310smkg3182md.jpg
- label: "<a href=\"/photoindexes/cnidaria/coralhard/branching\">Colony \n            thick branching</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/pocilloporidae/pocillopora/050625labg8603m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/acrstumpy/051204sisg3228m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/acrpinecone/060810rlhd5681m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/poritidae/porbranch/050820bbd5737m.jpg
- label: "<a href=\"/photoindexes/cnidaria/coralhard/leafy\">Colony leafy</a>, \n        \
    \    carnation or cabbage-like"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/agariciidae/pavona/060415hntd1311m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/merulinidae/pectinia/060714rlhg6527m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/dendrophylliidae/flowery/070615sntd2188m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/dendrophylliidae/ruffled/060810rlhd5593m.jpg
- label: "<a href=\"/photoindexes/cnidaria/coralhard/lumpy\">Colony \n            crinkled</a> \n      \
    \      or lumpy"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/poritidae/porbranch/050113sntd9742m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/psammocoridae/crinkled/050625labg8651ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/monridged/060714rlhg6486md.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/monridged/060301kusg5361m.jpg
- label: "<a href=\"/photoindexes/cnidaria/coralhard/plate\">Colony \n            plate-like</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/dendrophylliidae/thin/060712tusd4103m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/merulinidae/merulina/050611kusg7759m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/dendrophylliidae/flowery/070615sntd2188m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/agariciidae/pachyseris/090625bsrd5316m.jpg
- label: "Colony \n            boulder-shaped <br/>\n<a href=\"/photoindexes/cnidaria/coralhard/boulderring\"\
    >corallite ring-shaped</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/faviidae/oulastrea/050611kusg7803ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/merulinidae/cyphastrea/060402ulrd0979mb.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/mussidae/lobophyllia/050528kusd3539m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/merulinidae/caulastraea/040522kusad0062mc.jpg
- label: "Colony \n            boulder-shaped\n<br/>\n<a href=\"/photoindexes/cnidaria/coralhard/boulderhex\"\
    >corallite hexagonal</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/poritidae/porboulder/060102sisg3685ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/poritidae/gonsmall/050625labg8612ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/faviidae/hexa/hexasmall/061223lazg7085mb.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/siderastreidae/hexaneat/050821bbg2002mc.jpg
- label: "Colony \n            boulder-shaped<br/>\n<a href=\"/photoindexes/cnidaria/coralhard/bouldermaze\">corallite\
    \ brain or maze</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/faviidae/maze/jigsaw/061122smkd6835mb.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/faviidae/maze/others/040705sisd2228m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/mussidae/symphyllia/070618rlhg0651m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/mussidae/white/061122smkd6832m.jpg
- label: "Colony \n            boulder-shaped<br/>\n<a href=\"/photoindexes/cnidaria/coralhard/boulderother\">corallite\
    \ other shapes</a>"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/astreopora/031224sisd0112m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/euphylliidae/galaxea/060101sisg3520ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/psammocoridae/boulder/050623cjg8282ma.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/merulinidae/hydboulder/060402ulrd1101m.jpg
- label: "<a href=\"/photoindexes/cnidaria/coralhard/unattached\">Colony \n            unattached</a> <br/>\n\
    \ free \n            living corals<br/>\n            (mushroom corals)"
  images:
  - url: https://images.naturehungry.sg/cnidaria/coralhard/fungiidae/circular/031224sisd0090m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/fungiidae/heliofungia/040801hntd3805m.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/fungiidae/polyphyllia/050312hntg3321mb.jpg
  - url: https://images.naturehungry.sg/cnidaria/coralhard/fungiidae/herpolitha/040606kusg0472m.jpg
layout: default
---


Cnidarians with a hard skeleton


<br>
{% for row in page.child_pages %}
<div class="photo-index-images-text-row">
{% include img-grid.html items=row.images cols=4 %}
  <div>
    <p>{{ row.label | markdownify}}</p>
  
  </div>
</div>
{% endfor %}

<hr>

<h3>These are NOT hard corals</h3>

<div class="flex flex-wrap gap-1">
{% assign entry = site.entries | where : "title","Blue coral" | first %}
{% include entry-summary-card.html item=entry %}
{% assign entry = site.entries | where : "title","Corallimorphs" | first %}
{% include entry-summary-card.html item=entry %}
{% assign entry = site.entries | where : "title","Zoanthids" | first %}
{% include entry-summary-card.html item=entry %}
</div>



  
  

