---
title: "Leathery corals on Singapore shores"
description: ""
keywords: "photo, index, sea, anemone, cnidaria, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info"
layout: default
attributes:
- 129
- 130
- 134
- 137
- 144
- 146
- 148
- 149
coverimgs:
- https://images.naturehungry.sg/cnidaria/coralsoft/letpimply/050917smkg2448m3.jpg
- https://images.naturehungry.sg/cnidaria/coralsoft/letomelette/050807sjig0617m3.jpg
- https://images.naturehungry.sg/cnidaria/coralsoft/letsmooth/111029smkd3045m3.jpg
- https://images.naturehungry.sg/cnidaria/coralsoft/letpinwheel/050808sntg0866m3a.jpg
- https://images.naturehungry.sg/cnidaria/coralsoft/letblackwhite/100715tbtd9020m3.jpg
---


<p>
    <a href="/entries/cnidaria/coralsoft/alcyoniidae/">Fact sheet on leathery corals in Singapore</a>
</p>
<br>


{% assign filtered_posts = site.entries | where: "family", "Alcyoniidae" | where_exp: "item", "item.title != 'Leathery soft corals'" %}
<div class="entry-summary-card-grid"
>
{% for post in filtered_posts %}

    {% include entry-summary-card.html item=post %}

{% endfor %}
</div>


<br>



