---
title: "Sea Pens on Singapore shores"
description: ""
keywords: "photo, index, sea, anemone, cnidaria, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info"
layout: default
attributes:
- 129
- 130
- 134
- 137
- 144
- 146
- 148
- 149
coverimgs:
- https://images.naturehungry.sg/cnidaria/others/hydrozoa/giant/050510tusg6144m.jpg
- https://images.naturehungry.sg/cnidaria/others/hydrozoa/sertularella/030714bbd0074m.jpg
- https://images.naturehungry.sg/cnidaria/others/hydrozoa/stinging/050411tusd2333ma.jpg
- https://images.naturehungry.sg/cnidaria/others/hydrozoa/thread/040409tuscd0019m.jpg
- https://images.naturehungry.sg/cnidaria/others/hydrozoa/delicate/050819cjg1531m3.jpg
---


<p>
    <a href="/entries/cnidaria/pennatulacea/pennatulacea/">Fact sheet on sea pens in Singapore</a>
</p>
<br>


{% assign filtered_posts = site.entries | where: "family", "Alcyoniidae" | where_exp: "item", "item.title != 'Sea pens'" %}
<div style="
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(min(480px, 100%), 1fr));
    gap:1rem;
"
>
{% for post in filtered_posts %}

    {% include entry-summary-rows.html item=post %}

{% endfor %}
</div>


<br>



