---
title: "Photo index of sea fans on Singapore shores"
description: ""
keywords: "photo, index, sea, fan, cnidaria, field, guide, seashore, sea, shore, marine, coastal, intertidal, singapore, facts, fact sheet, info"
layout: default
attributes:
- 130
- 129
- 131
- 139
- 143
- 150
- 153
- 158
coverimgs:
- https://images.naturehungry.sg/cnidaria/others/gorgonacea/asparagus/030521bbd0232m.jpg
- https://images.naturehungry.sg/cnidaria/others/gorgonacea/whip/030714bbd0067m.jpg
- https://images.naturehungry.sg/cnidaria/others/gorgonacea/leathery/100517jngd2750m.jpg
- https://images.naturehungry.sg/cnidaria/others/gorgonacea/blue/060516chgd2041m.jpg
- https://images.naturehungry.sg/cnidaria/others/gorgonacea/tree/101008tusc7643m3.jpg
---



<p>
    <a href="/entries/cnidaria/gorgonacea/gorgonacea/">Fact sheet on sea fans in Singapore</a>
</p>
<br>
<div style="
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(min(480px, 100%), 1fr));
    gap:1rem;
"
>
{% assign entry = site.entries | where : "title","Asparagus sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Lyre sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Gnarled sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Candelabra sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Lemon sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Flat branch sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Skinny sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Tree sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Maze sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Blue sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Leathery sea fan" | first %}
{% include entry-summary-rows.html item=entry %}
{% assign entry = site.entries | where : "title","Sea whip" | first %}
{% include entry-summary-rows.html item=entry %}

</div>






