{% comment %}
  _includes/contributor-preview.html
  
  Displays a single contributor in the paginated list.
  
  Usage:
    {% include contributor-preview.html contributor=contributor %}
{% endcomment %}

<div class="contributor-preview" style="grid-column: span {{ contributor.cols | default: '2'}} ">
  <div class="contributor-img">
    {% if contributor.img %}
      <img class="" src="">
    {% else %}
      <i class="ti ti-user"></i>
    {% endif %}
  </div>
  <div class="contributor-content">

    <div class="contributor-preview__header">
      <h3 class="contributor-preview__title">
        <a href="{{ contributor.link | default: contributor.url }}">{{ contributor.title }}</a>
      </h3>
      
      {% if contributor.role %}
      <div class="contributor-preview__tags">
        <span class="contributor-role-tag">{{ contributor.role }}</span>
      </div>
      {% endif %}
    </div>
    
    {% if contributor.content %}
    <div class="contributor-preview__excerpt">
      {{ contributor.excerpt }}
    </div>
    {% endif %}
  </div>
  
  <!-- {% if contributor.date %}
  <div class="contributor-preview__meta">
    <span class="contributor-preview__date">
      Joined {{ contributor.date | date: "%B %d, %Y" }}
    </span>
  </div>
  {% endif %} -->

</div><!-- .contributor-preview -->


