{% assign items = include.items %}
{% assign item = include.item %}

{% if item %}
<div class="entry-summary-row">
  <div class="img-container">
      <img src="{{item.coverimg}}" />
  </div>
  <div>
    <div class="" style="display:flex;justify-content:space-between;gap:0.5rem">
      <h3><a href="{{ item.url | relative_url }}">{{item.title}}</a></h3>
      <div class="attributes">
        <div class="attribute {{item.rdb}} redlist">{{item.rdb}}</div>
      </div>
    </div>
    <p class="scientific-name-subtitle">{{item.genus}} {{item.species}}</p>
    <p class="summary">
      {{item.summary}}
    </p>
  </div>
</div>
{% endif %}

{% for entry in items %}
<div class="entry-summary-row">
  <div class="img-container">
      <img src="{{entry.coverimg}}" />
  </div>
  <div>
    <div class="flex gap-1">
      <h3><a href="{{ entry.url | relative_url }}">{{entry.title}}</a></h3>
      <div class="attributes">
        <div class="attribute {{entry.rdb}} redlist">{{entry.rdb}}</div>
      </div>
    </div>
    <p class="scientific-name-subtitle">{{entry.genus}} {{entry.species}}</p>
    <p class="summary">
      {{entry.summary}}
    </p>
  </div>
</div>
{% endfor %}