{% assign items = include.items %}

{% for entry in items %}
<div class="entry-summary-row">
  <div class="img-container">
      <img src="{{entry.coverimg}}" />
  </div>
  <div>
    <div class="flex gap-1">
      <h3><a href="{{ entry.url | relative_url }}">{{entry.title}}</a></h3>
      <div class="attributes">
        <div class="attribute {{entry.rdb}} redlist">{{entry.rdb}}</div>
      </div>
    </div>
    <p class="scientific-name-subtitle">{{entry.genus}} {{entry.species}}</p>
    <p class="summary">
      {{entry.summary}}
    </p>
  </div>
</div>
{% endfor %}