
{% assign gridStyle = "" %}
{% if include.cols %}
     {% assign gridStyle = gridStyle | append: "grid-template-columns:  repeat(" | append: include.cols | append: ", minmax(30px, 300px));" %}
{% endif %}

<div class="img-grid" style="{{gridStyle}}">
    {% for item in include.items %}
        {% assign style = "" %}

        {% if item.row_span %}
            {% assign style = style | append: "grid-row: span " | append: item.row_span | append: ";" %}
        {% endif %}

        {% if item.col_span %}
            {% assign style = style | append: "grid-column: span " | append: item.col_span | append: ";" %}
        {% endif %}

    <div class="img-container" style="{{style}}">
        <img src="{{item.url}}" alt="">
        <div class="caption">
        {{item.caption}}
        </div>
    </div>
    {% endfor %}

</div>