<style>
    .img-wrap-group{
        margin:2rem 0;
        display:flex;
        gap:1rem;
        flex-wrap: wrap;
        justify-content:center;
    }
    .img-wrap-group .img-container img{
        width:auto;
        height:auto;
        max-width: 400px;

    }
    .img-wrap-group .img-container {
        width: min-content;
        max-width: 400px;
        margin-bottom:0.5rem;
    }
    .img-wrap-group .img-container .caption{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size:0.8rem;
    }
    .img-wrap-group .img-container .caption p{
        margin-bottom:0;
    }
    .img-wrap-group .img-container img{
        height:auto;
    }
</style>

<div class="img-wrap-group">
    {% for item in include.items %}
    <div class="img-container">
        <img src="{{item.url}}" alt="">
        <div class="caption">
        {{item.caption}}
        </div>
    </div>
    {% endfor %}

</div>