---
title: "Hard corals on Singapore shores"
label: "Crinkled or lumpy corals"
description: ""
keywords: ""
layout: default
attributes:
- 128
- 134
- 158
- 151
- 154
- 139
coverimgs:
- https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/monridged/070505kusg9077m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/agariciidae/castle/110717tbd7310m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/poritidae/porbranch/060527sjid2124m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/psammocoridae/crinkled/050625labg8651m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/poritidae/porbranch/100201hntd9138m3.jpg
---

<p>Colony crinkled or lumpy</p>
<br>


{% assign target_corals = "Branching pore coral, Crinkled sandpaper coral, Ridged montipora coral, Castle coral" | split: ", " %}

{% assign filtered_posts = site.entries | where_exp: "item", "target_corals contains item.title" %}
<div class="entry-summary-card-grid"
>
{% for post in filtered_posts %}

    {% include entry-summary-card.html item=post %}

{% endfor %}
</div>


<br>
<h2>These are NOT hard corals</h2>
<br>
<div class="entry-summary-card-grid">
{% assign entry = site.entries | where : "title","Blue coral" | first %}
{% include entry-summary-card.html item=entry %}
</div>



