---
title: "Hard corals on Singapore shores"
label: "Plate corals"
description: ""
keywords: ""
layout: default
attributes:
- 128
- 134
- 158
- 151
- 154
- 139
coverimgs:
- https://images.naturehungry.sg/cnidaria/coralhard/acroporidae/monplate/220618tmftlks23.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/agariciidae/pachyseris/070830smkg2021m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/dendrophylliidae/encrust/111001sjid1937m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/fungiidae/bracket/110731tryd7884m3.jpg
- https://images.naturehungry.sg/cnidaria/coralhard/dendrophylliidae/thin/060712tusd4103m3.jpg
---

<p>Colony plate-shaped</p>
<br>


{% assign target_titles = "Hedgehog coral, Plate montipora coral, Elephant-nose plate coral, Ringed plate coral, Ridged plate coral, Bracket mushroom coral, Lithophyllon mushroom coral" | split: ", " %}

{% assign filtered_posts = site.entries | where_exp: "item", "item.order == 'Scleractinia'" | where_exp: "item", "item.genus == 'Turbinaria' or target_titles contains item.title" %}
<div class="entry-summary-card-grid"
>
{% for post in filtered_posts %}

    {% include entry-summary-card.html item=post %}

{% endfor %}
</div>






