 .img-wrap-group{
    margin:2rem 0;
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
    justify-content:center;
    width:100%;
}
.img-wrap-group .img-container img{
    width:100%;
    

}
.img-wrap-group .img-container {
    max-width: 300px;
    margin-bottom:0.5rem;
    flex: 1;
    min-width: 100px;
}
.img-wrap-group .img-container .caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:0.8rem;
}
.img-wrap-group .img-container .caption p{
    margin-bottom:0;
}


.img-grid{
    display:grid;
    grid-template-columns:  repeat(auto-fit, minmax(min(120px, 100%), 1fr));
    gap:1rem;
    margin:2rem auto;
    /* width:fit-content; */
}
.img-grid .img-container{
    margin:0;
}
.img-grid .img-container .caption p{
    margin:0;
}

@media screen and (max-width:500px) {
    .img-wrap-group .img-container img {
        width: 100%;
        max-width: 100%;
    }
    
}