.entry-summary-row{
    display:flex;
    height:240px;
    align-items: center;
    gap:20px;
}
.entry-summary-row h3, .entry-summary-row p{
    margin:0;
}
.summary{
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.entry-summary-row img{
    width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
    object-position: center;
}
.entry-summary-row .img-container{
    background-color: lightgray;
    height:100%;
    aspect-ratio: 1/1;
    width:unset;
    display:block;
    margin:0;
    max-width: 200px;
}

.entry-summary-row .attributes{
    display:flex;
    gap:0.5rem;
    justify-content: left;
}
.entry-summary-row .attribute{
    width: fit-content;
}

.entry-summary-grid{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap:1rem;
    margin:1rem 0;
}
.entry-summary-grid-item{
    width:240px;
    height:fit-content;
}

.entry-summary-grid-item .img-container{
    width:100%;
    aspect-ratio: 1;
    margin:0;
    margin-bottom:rem;
}

.entry-summary-grid img{
    width: 100%;
    height: 100%;
    display:block;
    object-fit: cover;
    object-position: center;
}

p.scientific-name-subtitle{
    font-style: italic;
    margin-bottom: 1rem;
}



.photo-index-images-text-row{
    display:flex;
    align-items:center;
    gap:1rem;
    height:fit-content;
    padding: 0.5rem 0;
    
}
.photo-index-images-text-row .img-grid{
    margin: 0;
    height: fit-content;

}
.photo-index-images-text-row .img-grid .img-container{
    aspect-ratio: 1;
    max-width: 150px;
}
.photo-index-images-text-row .img-grid .img-container img{
    height: 100%;
    width: 100%;
}


.entry-summary-card{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.entry-summary-card .img-container{
    margin:0;
    aspect-ratio: 1;
}
.entry-summary-card .img-container img{
    height: 100%;
}



.photoindex-quadcards{
    display:grid;
    gap:2rem;
    margin-top:2rem;
    margin-bottom: 1rem;
    flex-wrap:wrap;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
}
.photoindex-cards{
    display:flex;
    gap:1rem;
    margin-bottom: 1rem;
    flex-wrap:wrap;
}
.photoindex-card .text{
    padding:0.5rem;
    
}
.photoindex-card{
    border:1px solid rgb(218, 218, 218);
    overflow: hidden;
    border-radius: 8px;
    width: 150px;
}
.photoindex-card img{
    width:100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
.photoindex-quadcard .text{
    padding:1rem 1rem 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
}
.photoindex-quadcard{
    border:1px solid rgb(218, 218, 218);
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
}
.photoindex-quadcard .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.photoindex-quadcard img{
    width:100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
.photoindex-quadcard:hover{
    background-color: var(--color-section-head);
    color:white;
}


@media (max-width: 800px){
    .photo-index-images-text-row{
        flex-direction:column;
        gap:0;
        align-items: start;
        margin-top:1rem;
        height: fit-content;
    }
    .photo-index-images-text-row .img-grid{
        order:1;
        margin:0;
        gap:0;
    }
    .entry-summary-card{
        width:30%;
    }
}

@media (max-width:500px){
    .entry-summary-row{
        flex-direction: column;
        height:fit-content
    }
    .entry-summary-card{
        width:45%;
    }
    
}