---
title: "Photo Index of Marine Life on Singaporean Shores"

---
{% include global/header.html %}

<style>

    /* Remove default arrow */
details summary {
  list-style: none;
}

.img-container{
    width: 200px;
    margin:0;
}
.img-container img{
    aspect-ratio: 4/3;
    border:1px solid lightgrey;
    object-fit: cover;
    object-position: center;
}
</style>
<main class="page-content" id="main-content">
    <section>
        <h1>Photo Index of Marine Life on Singaporean Shores</h1>
        
    </section>
    <section>
        <h2>Plants</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/1236/605886912_becabd5880_c.jpg" alt="">
                <p>Seagrasses</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/48210193776_cd48dec4c7_w.jpg" alt="">
                <p>Seaweeds</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/1400/5177780799_60a3344c9d_w.jpg" alt="">
                <p>Mangroves</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/6138/6029208662_13df93bd12_w.jpg" alt="">
                <p>Coastal plants</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Fishes</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/7402/9619608947_388d88e63d_w.jpg" alt="">
                <p>Regular shaped</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/3692/11620764875_764c32f509_w.jpg" alt="">
                <p>Round</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/5018/5412399560_6551c480d3_w.jpg" alt="">
                <p>Flattened</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/3716/11508360906_60622e6942_w.jpg" alt="">
                <p>Eel-like</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/7417/8720666444_a874f721c3_w.jpg" alt="">
                <p>Sharks, rays & relatives</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/7245/7089145731_fbb53028f5_w.jpg" alt="">
                <p>Others</p>
            </div>
        </div>

    </section>
    <section>
        <h2>Reptiles</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/5542/14232983382_31d136478e_w.jpg" alt="">
                <p>Sea turtles</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/3240/3043938620_bcc4d94532_w.jpg" alt="">
                <p>Snakes</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Molluscs</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/49903757843_30a366fb9f_w.jpg" alt="">
                <p>Octopus & relatives</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/8437/7743772632_c264a8a436_w.jpg" alt="">
                <p>Snails</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/51368827291_26225c064b_w.jpg" alt="">
                <p>Slugs</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/7326/9622221968_2a018b9860_w.jpg" alt="">
                <p>Clams & relatives</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Sea stars & relatives</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/7760/16764450744_494303febb_w.jpg" alt="">
                <p>Sea stars</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/9626357811_686b17b885_w.jpg" alt="">
                <p>Brittle stars</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/50990630453_e0466c1f53_w.jpg" alt="">
                <p>Sand dollars</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/774/21777981748_5e9a506658_w.jpg" alt="">
                <p>Urchins</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/1858/43868183084_0e859337c9_w.jpg" alt="">
                <p>Sea cucumbers</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Arthropods</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/5601/30141001882_4cc9682d81_w.jpg" alt="">
                <p>Shrimp & shrimp-like</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/50358432821_58b5f11435_w.jpg" alt="">
                <p>Crabs & crab-like</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Soft with tentacles</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/52220441927_7ff5354caa_w.jpg" alt="">
                <p>Anemones</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/53646434073_26fcdb27a8_w.jpg" alt="">
                <p>Soft Corals</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/1070/1310999471_bc8fbfa68d_w.jpg" alt="">
                <p>Jellyfish</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Branching</h2>
        <div class="flex">
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/50146404228_af4f807820_w.jpg" alt="">
                <p>Hard corals</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/53026195196_67de8ace7b_w.jpg" alt="">
                <p>Gorgonians</p>
            </div>
            <div class="img-container">
                <img src="https://live.staticflickr.com/65535/8455888580_4e4df258c8_w.jpg" alt="">
                <p>Sponges</p>
            </div>
        </div>
    </section>
    <section>
        <h2>Worms</h2>
        <div class="flex">
            <div class="img-container">
                <img src="" alt="">
                <p>Flatworms</p>
            </div>
            <div class="img-container">
                <img src="" alt="">
                <p>Fanworms</p>
            </div>
            <div class="img-container">
                <img src="" alt="">
                <p>Bristleworms</p>
            </div>
            <div class="img-container">
                <img src="" alt="">
                <p>Others</p>
            </div>
        </div>
    </section>
</main>

{% include global/footer.html %}