---
title: Make a Difference for nature in Singapore
layout: "none"
---
{% include global/header.html %}
<main class="page-content">
    <div class="flex align-center gap-1">
    <h1>Act</h1>
    <h2>for our wild places</h2>
    </div>

    <h3>Why act for nature?</h3>
    <p>If you have a passion for nature, the energy and time, you can make a big difference as a volunteer. Many nature groups rely on volunteers to run their programmes. Most have activities to suit any contribution of skill, time and energy. Every contribution, large and small, short-term and long-term, can make a difference.</p>
    <br>
    <h3>What do I get out of it? </h3>
    <p>As a volunteer, you get to put your passion for nature into practice. You will participate in training sessions where you will learn more about our wild, natural places. Training often involves special field trips and talks by experts.</p>
    <p>Volunteering also gives you opportunities to interact with professionals in natural sciences and nature reserve management, as well as experienced naturalists. You also get to hang out with others who share your passion. It's fun and meaningful!</p>
    <br>
    <h3>What do nature volunteers have to say about their experiences?</h3>
    <p><a href="http://www.wildsingapore.com/riablog/people/index.html">Hear the personal stories of 50 volunteers</a> who have made a difference for nature everywhere in Singapore.</p>
    <br>
    <h3>What can I contribute?</h3>
    <p>Almost any skill you have can make a difference!</p>
    <br>
    <h3>What can I contribute as a nature guide? </h3>
    <p>As a nature guide, share your passion for nature by introducing others to our very own wild places. A personal and passionate introduction really gets people interested in enjoying and conserving nature.</p>
    <br>
    <h3>Don't want to guide, but want to contribute?</h3>
    <p>Besides nature guiding, volunteers are needed for many nature efforts. You can contribute skills such as photography, design, illustration and writing, internet support. Help is always needed for organising events and managing volunteer groups. You can also help in other outdoor events such as biodiversity surveys and monitoring, removal of invasive weeds, replanting native trees. Even if all you have is time and a deep passion for nature, there are many great opportunities for you to make a difference. Just check out the listings below.</p>
    <br>
    <h3>Where can I contribute?</h3>
    <p>Check out the opportunities below to see how their needs fit in with your passion and schedule.</p>

    <hr>
    <hr>
</main>


{% include global/footer.html %}
    