---
title: Make a Difference for nature in Singapore
layout: "none"
---
{% include global/header.html %}
<main class="page-content">
    <div class="flex align-center gap-1">
    <h1>Express</h1>
    <h2>about our wild places</h2>
    </div>

    <h3>Share what you have experienced</h3>
    <ul>
        <li>
            Bring along others for your visits to our wild places.
        </li>
        <li>
            Talk about our wild places to your family, friends and colleagues.
        </li>
        <li>
            Share about your visit on social media. So others can share in your excitement and learn what you have learnt.
        </li>
        <li>
            If you have a blog or a website, shared it with us and we can add it to nature hungry
        </li>

    </ul>

    <h3>Share your photos/videos</h3>
    <p>Post them on flickr or YouTube. Send them in for photo competitions; book publications; any other efforts to raise awareness of our wild places. <a href="https://wildshores.blogspot.com/2013/04/photos-can-make-difference-for.html">Here's more about how your photos can make a difference in nature conservation.</a></p>
    <p>Volunteer groups involved in outreach programmes always need good photos and footage for posters, public exhibitions, educational publications, websites and other media. <a href="/wildfacts/act">Here's links to volunteer groups who are active in outreach efforts.</a></p>

    <div class="flex align-center gap-1">
        <h1>Speak up</h1>
        <h2>for our wild places</h2>
    </div>
    <h3>Leave comments on wild blogs and social media entries</h3>
    <p>Many ordinary people share their explorations and efforts for our wild places Inspired by what they said? Excited by what they shared? Encourage them by leaving a comment.</p>

    <h3>Contribute to surveys and studies on our wild places</h3>
    <p>ften done by students, do support their interest and raise awareness of our wild places by contributing to their efforts.</p>

    <h3>Give praise</h3>
    <p>Often Singaporeans will not be moved to write except to complain. If they enjoyed a visit or like a place just as it is, they do not make any noise. The result is that decisions on our wild places are often more affected by complaints than praise. So if you like something, say something!</p>

    <h3>Enjoyed a visit to a wild place?</h3>
    <p>Write to the press! Write to the group managing the site or the trip. Tell your friends and family.</p>

    <h3>Give feedback</h3>
    <p>The decision makers seek feedback. Give your sincere and well-thought out feedback and it will be valued and acted upon.</p>

    <p>A good place to start is Reach (formerly the Government Feedback Channel) or email them at reach@reach.gov.sg They can also direct you to the correct people to give your feedback to. Snail mail: SLF Building, #16-01 510 Thomson Road, Singapore 298135</p>

    <h3>Other ways to give feedback?</h3>
    <p>Do surveys conducted by volunteers and others interested in gathering ideas and thoughts about nature in Singapore.</p>
    <hr>
    <p>Why bother to speak up? you say <a href="http://www.wildsingapore.com/riablog/thots/speak.htm">...my response</a></p>
</main>


{% include global/footer.html %}
    