---
title: Singapore's Grasslands
layout: default
---

<h2>Singapore's Grasslands</h2> 

<p>
  Grasslands in Singapore are not natural. They are considered novel habitats, where without human intervention, these areas would not persist or exist.
  These grasslands are built from cultivated grass species, providing habitat for specialised critters and birds.
  Wildlife found in these grasslands include birds that have special beaks to break down grass seeds, insects that feed 
  on nectar from flowers of grasses, or small insects that consume sap from the grass stems.
</p>
<h2>Lalang Fields in Singapore</h2>
<p>

</p>

<div class="entry-summary-card-grid">
  {% for post in site.articles %}
    {% if post.path contains "articles/locations/grassland/" %}
      {% include entry-summary-card.html item=post %}
      {% endif %}
  {% endfor %}

</div>
<ul>

</ul>