{% include global/header.html %}


    <!-- Page content -->
    <main class="page-content" id="main-content">
      {% if page.coverimg %}
        <div class="coverimg">
            <img src="{{page.coverimg}}" alt="">
        </div>
      {% endif %}
      {% if page.title %}
      <h1 class="page-title">{{ page.title }}</h1>
      {% endif %}
      {% if page.date %}
      <p class="page-date"><em>{{ page.date | date: "%d %B %Y" }}</em></p>
      {% endif %}
      <div class="article-body">{{content}}</div>
    </main>

{% include global/footer.html %}