---
title: "Photo index"

---

{% include global/header.html %}

<style>
    
</style>

<main class="page-content" id="main-content">
<h1>Photo Index of Arthropods</h1>
<div class="photoindex-quadcards">
    
    <a href="/photoindexes/arthropoda/crustacea/crustaceafi/" class="photoindex-quadcard">
        <div class="images">
            <img src="https://f003.backblazeb2.com/file/naturehungry/crustacea/othercrust/stomatopoda/spearer/020328cjd7903m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/crustacea/crab/portunidae/spinimana/031224sisd0115m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/crustacea/othercrust/anomura/hermit/coenobita/040523sjiad0014m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/crustacea/othercrust/ciriipedia/euraphia/050413labg4662m.jpg" alt="">
        </div>
        <div class="text">
            <p>Crustaceans</p>
        </div>
    </a>
    <a href="/photoindexes/arthropods" class="photoindex-quadcard">
        <div class="images">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="text">
            <p>Insects</p>
        </div>
    </a>
    <a href="" class="photoindex-quadcard">
        <div class="images">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="text">
            <p>Arachnids</p>
        </div>
    </a>
    <a href="" class="photoindex-quadcard">
        <div class="images">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="text">
            <p>Myriapods</p>
        </div>
    </a>
    <a href="" class="photoindex-quadcard">
        <div class="images">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="text">
            <p>Others</p>
        </div>
    </a>
    
   
</div>
</main>

{% include global/footer.html %}