---
title: "Photo index"
permalink: "/photoindex"

---

{% include global/header.html %}

<style>
    
</style>

<main class="page-content" id="main-content">
<div class="photoindex-cards">
    
    <a href="photoindexes/animals" class="photoindex-quadcard">
        <div class="images">
            <img src="https://f003.backblazeb2.com/file/naturehungry/vertebrates/fish/terapontidae/quadrilineatus/030418cjd0160m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/arachnida/hyllus/090704ubnd6404m3.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/cnidaria/others/ceriantharia/common/030927cjd0058m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/porifera/lumpygreen/060611cjd2766m3.jpg" alt="">
        </div>
        <div class="text">
            <p>Animals</p>
        </div>
    </a>
    <a href="photoindexes/plants" class="photoindex-quadcard">
        <div class="images">
            <img src="https://f003.backblazeb2.com/file/naturehungry/plants/seagrass/ovalis/040523sjiad0057m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/plants/seaweed/060429skdd1417m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/plants/mangrove/rhizophora/stylosa/090315smkd8281m.jpg" alt="">
            <img src="https://f003.backblazeb2.com/file/naturehungry/plants/coastal/pandanus/tectorius/051018smkg2732m.jpg" alt="">
        </div>
        <div class="text">
            <p>Plants</p>
        </div>
    </a>
   
</div>
</main>

{% include global/footer.html %}