---
title: "Step-by-step guide to identifying living things in singapore"

---
{% include global/header.html %}

<link rel="stylesheet" href="{{ '/assets/css/stepbystep.css' | relative_url }}">
<main class="page-content" id="main-content">
    <div class="sliding-wrapper">
        <div class="slider">
            
            <section class="step">
                <div class="sub-step" id="sub-by-the-sea">
                    <p>FRESHWATER</p>
                    <h2>What general body shape?</h2>
                    <div class="step-nav">
                    </div>
                    <div class="substrates step-items">
                        <a href="typicalfish" class="zone" id="131">
                            <div class="icon" ></div>
                            <h3>Typical fish</h3>
                            <p>Tapered body shape with fins</p>
                        </a>
                        <a href="elongated" class="zone" id="132">
                            <div class="icon" ></div>
                            <h3>Elongated</h3>
                            <p>Long, may or may not have visible fins or legs</p>
                        </a>
                        <div class="zone" id="133">
                            <div class="icon"></div>
                            <h3>Birds</h3>
                            <p>You know what a bird looks like</p>
                        </div>
                        <div class="zone" id="133">
                            <div class="icon"></div>
                            <h3>Tetrapods</h3>
                            <p>Four-legged creatures excluding birds</p>
                        </div>
                        <div class="zone" id="134">
                            <div class="icon"></div>
                            <h3>Arthropods</h3>
                            <p>Many legs, tough exoskeleton</p>
                        </div>
                        <div class="zone" id="134">
                            <div class="icon"></div>
                            <h3>Molluscs</h3>
                            <p>Shell with no legs</p>
                        </div>
                        <div class="zone" id="134">
                            <div class="icon"></div>
                            <h3>Plants & algae</h3>
                            <p>Sessile and green, sometimes brown or red</p>
                        </div>
        
                    </div>
                </div>
                
                
            </section>

           

        </div>

    </div>

</main>



{% include global/footer.html %}
<script defer>


</script>