---
title: "Step-by-step guide to identifying living things in singapore"

---
{% include global/header.html %}

<link rel="stylesheet" href="{{ '/assets/css/stepbystep.css' | relative_url }}">
<main class="page-content" id="main-content">
    <div class="sliding-wrapper">
        <div class="slider">
            
            <section class="step">
                <div class="sub-step" id="sub-by-the-sea">
                    <h2>What surface/substrate did you see it on?</h2>
                    <div class="step-nav">
                        {%- comment -%} <p class="prev-step">&lt; Back</p> {%- endcomment -%}
                        <!-- <p>Next ></p> -->
                    </div>
                    <div class="substrates step-items">
                        <div class="zone" id="131">
                            <div class="icon" ></div>
                            <h3>On hard surfaces</h3>
                            <p>Encrusted on rocks or driftwood</p>
                        </div>
                        <div class="zone" id="132">
                            <div class="icon" ></div>
                            <h3>On living things</h3>
                            <p>Living among corals or mats of seagrass</p>
                        </div>
                        <div class="zone" id="133">
                            <div class="icon"></div>
                            <h3>Suspended in water</h3>
                            <p>Floating or swimming</p>
                        </div>
                        <div class="zone" id="134">
                            <div class="icon"></div>
                            <h3>In the ground</h3>
                            <p>Moving along or anchored in the sand/mud</p>
                        </div>
        
                    </div>
                </div>
                
                
            </section>


            <!-- 
            
            STEP 3: Lifeforms found in that substrate
            
            -->
            <section class="step">
                <div zone="by-the-sea" class="sub-step active">
                    <h2>Texture & Shape</h2>
                    <div class="step-nav">
                        <p class="btn prev-step"><i class="ti ti-arrow-narrow-left"></i> &nbsp; Back</p>
                        <p class="btn next-step">Next &nbsp; <i class="ti ti-arrow-narrow-right"></i></p>
                    </div>
                    <div class="step-select">

                        <p>Hardness</p>
                    <div class="step-items step-select-group radio-group">
                        <label for="hard-radio" class="step-radio">
                            <div class="icon"></div>
                            <p>
                                Hard
                            </p>
                            <input type="radio" name="hardness" id="hard-radio" value="128">
                        </label>
                        
                        <label for="firm-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                Firm
                            </p>
                            <input type="radio" name="hardness" id="firm-radio" value="129">
                        </label>
                        <label for="soft-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                Soft
                            </p>
                            <input type="radio" name="hardness" id="soft-radio" value="130">
                        </label>

                    </div>
                    <p>Shape</p>
                    <div class="step-items step-select-group">
                        <label for="elongated-radio" class="step-radio">
                            <div class="icon"></div>
                            <p>
                                Elongated
                            </p>
                            <input type="checkbox" name="shape1" id="elongated-radio" value="137">
                        </label>
                        
                        <label for="compact-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                Compact
                            </p>
                            <input type="checkbox" name="shape1" id="compact-radio" value="138">
                        </label>
                        <label for="blob-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                Blob
                            </p>
                            <input type="checkbox" name="shape1" id="blob-radio" value="139">
                        </label>
                        <label for="branching-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                Branching
                            </p>
                            <input type="checkbox" name="shape1" id="branching-radio" value="140">
                        </label>
                        <label for="spherical-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                Round
                            </p>
                            <input type="checkbox" name="shape1" id="spherical-radio" value="141">
                        </label>

                    </div>
                    <div class="step-items step-select-group">
                        <label for="narrow-radio" class="step-radio">
                            <div class="icon"></div>
                            <p>
                                narrow
                            </p>
                            <input type="checkbox" name="shape1" id="narrow-radio" value="142">
                        </label>
                        
                        <label for="flat-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                flat
                            </p>
                            <input type="checkbox" name="shape1" id="flat-radio" value="143">
                        </label>
                        <label for="cylindrical-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                cylindrical
                            </p>
                            <input type="checkbox" name="shape1" id="cylindrical-radio" value="144">
                        </label>
                        <label for="dome-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                dome
                            </p>
                            <input type="checkbox" name="shape1" id="dome-radio" value="145">
                        </label>
                        <label for="tapered-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                tapered
                            </p>
                            <input type="checkbox" name="shape1" id="tapered-radio" value="146">
                        </label>

                        <label for="fan-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                fan-shaped
                            </p>
                            <input type="checkbox" name="shape1" id="fan-radio" value="154">
                        </label>

                    </div>
                    <p>Texture</p>
                    <div class="step-items step-select-group radio-group">
                        <label for="spiky-radio" class="step-radio">
                            <div class="icon"></div>
                            <p>
                                spiky
                            </p>
                            <input type="radio" name="texture" id="spiky-radio" value="147">
                        </label>
                        
                        <label for="feathery-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                feathery
                            </p>
                            <input type="radio" name="texture" id="feathery-radio" value="148">
                        </label>
                        <label for="bristley-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                bristley
                            </p>
                            <input type="radio" name="texture" id="bristley-radio" value="149">
                        </label>
                        <label for="smooth-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                smooth
                            </p>
                            <input type="radio" name="texture" id="smooth-radio" value="150">
                        </label>
                        <label for="rough-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                rough
                            </p>
                            <input type="radio" name="texture" id="rough-radio" value="151">
                        </label>
                        <label for="leafy-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                leafy
                            </p>
                            <input type="radio" name="texture" id="leafy-radio" value="152">
                        </label>
                        <label for="tentacled-radio" class="step-radio">
                            <div class="icon"></div>

                            <p>
                                tentacled
                            </p>
                            <input type="radio" name="texture" id="tentacled-radio" value="153">
                        </label>
                        

                    </div>
                    </div>

                </div>
                
            </section>

            <!-- 
            
            STEP 4: Size

            -->

            <section class="step">
                <div class="sub-step" zone="all">
                    <h2>Size</h2>
                    <div class="step-nav">
                        <p class="btn prev-step"><i class="ti ti-arrow-narrow-left"></i> &nbsp; Back</p>
                        <p class="btn gotophotoindex">Next &nbsp; <i class="ti ti-arrow-narrow-right"></i></p>
                    </div>
                    <div class="step-items step-select-group">
                        <label for="lt2-radio" class="step-radio">
                            <div class="icon"></div>
                                <input type="radio" name="size" id="lt2-radio" value="lt2">
                            <p>
                                &lt; 2cm
                            </p>
                        </label>
                        <label for="2-5-radio" class="step-radio">
                            <div class="icon"></div>
                                <input type="radio" name="size" id="2-5-radio" value="2-5">
                            <p>
                                2cm - 5cm
                            </p>
                        </label>
                        <label for="5-30-radio" class="step-radio">
                            <div class="icon"></div>
                                <input type="radio" name="size" id="5-30-radio" value="5-30">
                            <p>
                                5cm - 30cm
                            </p>
                        </label>
                       
                        <label for="30-100-radio" class="step-radio">
                            <div class="icon"></div>
                                <input type="radio" name="size" id="30-100-radio" value="30-100">
                            <p>
                                30cm - 1m
                            </p>
                        </label>
                        <label for="100-300-radio" class="step-radio">
                            <div class="icon"></div>
                                <input type="radio" name="size" id="100-300-radio" value="100-300">
                            <p>
                                1m - 3m
                            </p>
                        </label>
                        <label for="gt300-radio" class="step-radio">
                            <div class="icon"></div>
                                <input type="radio" name="size" id="gt300-radio" value="gt300">
                            <p>
                                > 3m
                            </p>
                        </label>

                    </div>
                </div>
            </section>
        </div>

    </div>

</main>



{% include global/footer.html %}
<script defer>
document.addEventListener('DOMContentLoaded', () => {
    
let zone = "by-the-sea"
let substrate = ""

let step = 0
const slider = document.querySelector(".slider")
function renderStep(){
    console.log("Slide", `${step*100}%`)
    slider.style.transform = `translateX(-${step*100}%)`
    
}

document.querySelectorAll('.step-items').forEach(s=>{
    s.addEventListener('click', (event) => {
        // Check if the clicked element has the target class
        if (event.target.classList.contains('zone')) {
            
            if(event.target.id){

                if(step == 0){
                    substrate = event.target.id
                }
                console.log("clicked on", event.target.id)
                /*let substep = document.querySelector(`#sub-${event.target.id}`)
                if(substep){
                    substep.parentElement.querySelectorAll('.sub-step').forEach(e=>{
                        e.classList.remove('active')
                    })
                    substep.classList.add('active')
                }else{
                    substep = document.querySelectorAll(`.sub-step[zone]`).forEach(e=>{
                        e.classList.remove('active')
                    })
                    substep = document.querySelectorAll(`.sub-step[zone=${zone}]`).forEach(e=>{
                        e.classList.add('active')
                    })
                    substep = document.querySelectorAll(`.sub-step[zone=all]`).forEach(e=>{
                        e.classList.add('active')
                    })
                }
*/
                step++
                renderStep()
            }
        }
    });
})

document.querySelectorAll('.prev-step').forEach(e=>{
    e.addEventListener('click', event=>{
        step--;
        let section = e.closest("section")
        // Select all checkboxes and radio buttons
        const inputs = section.querySelectorAll('input[type="checkbox"], input[type="radio"]');
        // Loop through and uncheck each one
        inputs.forEach(input => input.checked = false);

        renderStep()
    })
})
document.querySelectorAll('.next-step').forEach(e=>{
    e.addEventListener('click', event=>{
        step++;
        renderStep()
    })
})


document.querySelectorAll('.gotophotoindex').forEach(e=>{
    e.addEventListener('click', event=>{
        // Select all checked checkboxes
        const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        const radios = document.querySelectorAll('input[type="radio"]:checked');

        // Convert to an array of values
        const cbvalues = Array.from(checkboxes).map(cb => cb.value);
        const rvalues = Array.from(radios).map(r => r.value);
        let attributes = [...cbvalues, ...rvalues]

        console.log("Zone: ", zone)
        console.log("Substrate: ", substrate)
        console.log("Attributes:", attributes)

        window.location.href = `/stepbystep/result?zone=${zone}&substrate=${substrate}&attrs=${attributes}`
    })
})

});

</script>